.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #454545; /* change to grey color */
    color: #FFE6C7;

  }
  .hbtn{
        margin: 16px;
  }
  .headeravatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
  .headeContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
  .hIn{
    border-radius: 20px;
    width: 160px;
    /* font-size:large ; */
    margin-left: 20px;
  }
  
  
  .user {
    font-size: x-large;
    margin: 16px;
  }
  
  .company-name {
    margin: 5px;
    max-width: 70px;
    max-height: 70px;
  }
  .active{
    color:#dadfea;
    
    transform: scale(1.2);
  }
/* focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2 */