.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #454545; /* change to grey color */
    color: #FFE6C7;

  }
  .headeContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hIn{
    margin-left: 20px;
  }
  
  
  .user {
    /* height: 40px; */
    margin-right: 16px;
  }
  
  .company-name {
    /* font-size: 24px; */
    /* font-weight: bold; */
    margin-left: 16px;
  }
  